*{
    margin: 0;
    padding: 0;
    font-family: 'Alexandria', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Exo 2', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#070707,#070707, #070707, #070707, #6e79b0);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    font-family:Exo 2;
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
}
h2{
    text-transform: uppercase;
    background-image: linear-gradient(
        -220deg,
      #ffffff 0%,
      #1d2557 29%,
      #1733c3 67%,
      #ffffff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 90px;
        font-weight: 700;
}
p2{
    font-family: Exo 2;
    font-style: normal;
    font-weight: 100;
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
.btnMoreAboutMe{
    scale: 1.3;
    margin-top: 100px;
    display:inline-block;
    text-decoration: none;
    color: black;
    border: 4px solid #fff;
    border-radius: 100px;
    padding: 12px 34px;
    font-size: 16px;
    background-color: white;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 60px #6e79b0;
}
.btnMoreAboutMe:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 60px #d2d6ed;
}
.aboutMe{
    margin: 0;
    padding: 0;
    align-content: center;
    min-height: 550px;
    width: 100%;
    background-color: #6e79b0;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow:hidden;
}
.aboutMe h1{
    color:#fff;
    margin-bottom: 5%;
    font-weight: 600;
    text-transform: uppercase;
}
.aboutMe p2{
    font-style: normal;
    font-size: 18px;
}

.about {
    height: 40vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  
  .about-img-holder {
    margin: 0;
    min-width: 400px;
    max-width: 400px;
    margin-right: 20px;
    padding: 0;
    
  }
  .about-img-holder .about-img {
    width: 80%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 10%;
    border-radius: 50%;
    box-shadow: 0px 0px 50px #fff;
    padding: 0;
  }
  
  .about-caption {
    margin-left: 5%;
    margin-right: 15%;
    margin-top: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  @media(max-width: 400px){
    .aboutMe{
        margin: 0;
        padding: 0;
        align-content: center;
        min-height: 500px;
        width: 100%;
        background-color: #6e79b0;
        background-position: center;
        background-size: cover;
        position: relative;
        overflow:hidden;
    }
  }

  @media (max-width: 900px) {
    .aboutMe{
        margin: 0;
        padding: 0;
        align-content: center;
        min-height: 1300px;
        width: 100%;
        background-color: #6e79b0;
        background-position: center;
        background-size: cover;
        position: relative;
        overflow:hidden;
    }
    .about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
    }
    .about-img-holder {
      max-width: 220px;
      min-width: 100%;
      width: 100%;
      margin: auto;
      margin-bottom: 20px;
    }
    .about-img-holder .about-img {
        width: 80%;
        margin-bottom: 15px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
      }
      .about-caption {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
      }
  }
  .btnviewresume{
    padding: 0;
    margin-top: 5%;
    display:inline-block;
    text-decoration: none;
    color: #6e79b0;
    border: 4px solid #fff;
    border-radius: 100px;
    padding: 12px 34px;
    font-size: 16px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 20px #fff;
}
.btnviewresume:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 60px #fff;
}
.highlights{
    margin: 0;
    padding: 0;
    align-content: center;
    min-height: 550px;
    width: 100%;
    background-image: linear-gradient(#6e79b0,#fff, #fff, #fff);
    background-position: center;
    background-size: cover;
    position: relative;
}

  .row{
    margin: 5%;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
  }
  .highlight-col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    box-shadow: 0px 0px 60px #6e79b0;
    text-align: center;
  }
  .highlights h2{
    text-transform: capitalize;
    text-align: center;
    margin: 10px 0;
    font-size: 22px;
    background-image: linear-gradient(
        -220deg,
      #6e79b0 0%,
      #6e79b0 29%,
      #6e79b0 67%,
      #6e79b0 100%
    ); 
  }
  .highlights p{
    text-align: left;
    margin: 2%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
  }
  .highlight-col:hover{
    box-shadow: 0px 0px 60px #fff;
    transition: 0.5s;
  }
  @media(max-width: 700px){
    .row{
        flex-direction: column;
    }
  }

  @media(min-width: 700px){
    .highlights{
        margin: 0;
        padding: 0;
        align-content: center;
        min-height: 0;
        width: 100%;
        background-image: linear-gradient(#6e79b0,#fff, #fff, #fff);
        background-position: center;
        background-size: cover;
        position: relative;
    }
  }

  .projects{
    margin: 0;
    padding: 0;
    align-content: center;
    min-height: 550px;
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
  }

  .projects h2{
    text-align: center;
    background-image: linear-gradient(
        -220deg,
      #6e79b0 0%,
      #6e79b0 29%,
      #6e79b0 67%,
      #6e79b0 100%
    );   
}

  .projCol{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  
  .projCol img{
    width: 100%;
  }

  .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .layer:hover{
    background: rgb(110, 121, 176, 0.7);
    transition: 0.5s;
  }

  .container {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .card {
    margin-top: 20%;
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #6e79b0;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }

  @media(max-width: 700px){
    .container{
        scale: .7;
        width: 400px;
        margin: auto;
        left: calc(50% - (1.3 * 200px));
    }
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .container h2 {
    color: white;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 15px;
    background-image: linear-gradient(
        -220deg,
      #6e79b0 0%,
      #6e79b0 29%,
      #6e79b0 67%,
      #6e79b0 100%
    ); 
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, #fff 0%, #6e79b0 65%, #6e79b0 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    scale: .03;
    position: relative;
    top: -10px;
    left: -1400px;
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(255, 255, 255); }
form { 
    max-width:420px; 
    margin:50px auto; 
    margin-top: 5%;
}

.contact p2{
    color: #6e79b0;
}

.contactcaption{
    margin-top: 1%;
}

.feedback-input {
  color:#6e79b0;
  font-weight:500;
  font-size: 16px;
  border-radius: 10px;
  line-height: 22px;
  background-color: white;
  border:2px solid white;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}
.feedback-input::placeholder{
    color:#6e79b0;
}

.feedback-input:focus { border:2px solid #6e79b0; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
  box-shadow: 0px 0px 20px #fff;
}

[type="submit"]{
    padding: 0;
    margin-top: 5%;
    display:inline-block;
    text-decoration: none;
    color: #6e79b0;
    border: 4px solid #fff;
    border-radius: 100px;
    padding: 12px 34px;
    font-size: 16px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 20px #fff;
    margin-bottom: 15%;
}
[type="submit"]:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 60px #fff;
}
/*
[type="submit"] {
  width: 100%;
  background:white;
  border-radius:10px;
  border:0;
  cursor:pointer;
  color:#6e79b0;
  font-size:16px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:100;
  margin-bottom: 20%;
  margin-top: 7%;
  box-shadow: 0px 0px 20px #fff;
}
[type="submit"]:hover { 
    box-shadow: 0px 0px 60px #fff;
}
*/
.contact{
    margin-top: 10%;
    text-align: center;
    background-image: linear-gradient(#fff, #6e79b0); 
}

.contact h2{
    background-image: linear-gradient(
        -220deg,
      #6e79b0 0%,
      #6e79b0 29%,
      #6e79b0 67%,
      #6e79b0 100%
    ); 
}